@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

h2 {
    text-align: center;
    position: absolute;
    font-weight: 400;
    margin: 270px 0 0px 440px;
    font-size: 30px;
}

span {
    color: #258dad;
    font-weight: 600;
}

@media (max-width: 1024px) {

    h2 {
        margin: 270px 0 0px 315px;
        font-size: 26px;
    }
}

@media (max-width: 768px) {

    h2 {
        margin: 270px 0 0px 255px;
        font-size: 26px;
        line-height: 40px;
    }
}
