<h2>
    Transporte
</h2>

<!-- <button routerLink="/adicionar-fornecedor" class="btn-adicionar" mat-raised-button color="primary">
    Adicionar Novo Fornecedor
</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">CPF/CNPJ</th>
      <th scope="col">Telefone</th>
      <th scope="col">E-mail</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody *ngFor="let f of fornecedor">
    <tr>
      <td>{{ f.id }}</td>
      <td>{{ f.fantasia }}</td>
      <td>{{ f.cpfCnpj | mask: '00.000.000/0000-00' }}</td>
      <td>{{ f.fone1 | mask: '(00)0000-0000' }}</td>
      <td>{{ f.email }}</td>

      <td>
        <button routerLink="/fornecedor/fornecedor-edit/{{f.id}}" class="btn" mat-raised-button color="primary">Editar</button>

        <button routerLink="/fornecedor/fornecedor-delete/{{f.id}}" mat-raised-button color="warn">Excluir</button>
      </td>

    </tr>
  </tbody> 
</table> -->


