@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}
.content {
    width: 1100px;
    margin: 80px 0 20px 360px;
}
h2 {
    margin-top: 20px;
    text-align: center;
    font-weight: 400; 
    font-size: 30px;
}
.table {
    text-align: center;
    padding: 15px;
    font-size: 18px;
}
td {
    margin: auto;
}
tr {
    margin-right: 15px;
}
tr span {
    color: red;
}
