<div class="content">

  <h2>Vendas</h2>

  <div class="container box">
    <div class="row box-small-1">

      <div class="col-md-4" >

        <a routerLink="/vendas-detalhes">
          <div class="box1">

            <h4>Total de vendas Janeiro</h4>
            <h5></h5>
  
            <div class="box-footer1">
              <p>25% maior que último mês</p>
            </div>
  
          </div>
        </a>
        
      </div>

      <!-- <div class="col-md-4">
        <div class="box2">

          <h4>Total de vendas Fevereiro</h4>
          <h5>R$15.589,56</h5>

          <div class="box-footer1">
            <p>25% maior que último mês</p>
          </div>

        </div>
      </div>

      <div class="col-md-4">
        <div class="box3">

          <h4>Total de vendas Março</h4>
          <h5>R$15.589,56</h5>

          <div class="box-footer1">
            <p>25% maior que último mês</p>
          </div>

        </div>
      </div>

    </div>

    <div class="row box-small-2">

      <div class="col-md-4">
        <div class="box1">

          <h4>Total de vendas Abril</h4>
          <h5>R$15.589,56</h5>

          <div class="box-footer1">
            <p>25% maior que último mês</p>
          </div>

        </div>
      </div>

      <div class="col-md-4">
        <div class="box2">

          <h4>Total de vendas Maio</h4>
          <h5>R$15.589,56</h5>

          <div class="box-footer1">
            <p>25% maior que último mês</p>
          </div>

        </div>
      </div>

      <div class="col-md-4">
        <div class="box3">

          <h4>Total de vendas Junho</h4>
          <h5>R$15.589,56</h5>

          <div class="box-footer1">
            <p>25% maior que último mês</p>
          </div>

        </div>
      </div>

    </div>

    <div class="row box-small-3">

      <div class="col-md-4">
        <div class="box1">

          <h4>Total de vendas Julho</h4>
          <h5>R$15.589,56</h5>

          <div class="box-footer1">
            <p>25% maior que último mês</p>
          </div>

        </div>
      </div>

      <div class="col-md-4">
        <div class="box2">

          <h4>Total de vendas Agosto</h4>
          <h5>R$15.589,56</h5>

          <div class="box-footer1">
            <p>25% maior que último mês</p>
          </div>

        </div>
      </div>

      <div class="col-md-4">
        <div class="box3">

          <h4>Total de vendas Setembro</h4>
          <h5>R$15.589,56</h5>

          <div class="box-footer1">
            <p>25% maior que último mês</p>
          </div>

        </div>
      </div>

    </div>

    <div class="row box-small-4">

      <div class="col-md-4">
        <div class="box1">

          <h4>Total de vendas Outubro</h4>
          <h5>R$15.589,56</h5>

          <div class="box-footer1">
            <p>25% maior que último mês</p>
          </div>

        </div>
      </div>

      <div class="col-md-4">
        <div class="box2">

          <h4>Total de vendas Novembro</h4>
          <h5>R$15.589,56</h5>

          <div class="box-footer1">
            <p>25% maior que último mês</p>
          </div>

        </div>
      </div>

      <div class="col-md-4">
        <div class="box3">

          <h4>Total de vendas Dezembro</h4>
          <h5>R$15.589,56</h5>

          <div class="box-footer1">
            <p>25% maior que último mês</p>
          </div>

        </div>
      </div>

    </div> -->

  </div>

</div>
